<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.hyungeerhee.spring.test.mybatis.repository.EstateRepository">
 	<select id="selectEstate"
 	resultType="com.hyungeerhee.spring.test.mybatis.domain.Estate"
 	parameterType="int">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		From 
 			`real_estate`
 		WHERE 	
 			`id` = #{id}
 		
 	</select>
 	

 	<select id="selectEstateListByRentPrice"
 	parameterType="int"
 	resultType="com.hyungeerhee.spring.test.mybatis.domain.Estate">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		From 
 			`real_estate`
 		WHERE 	
 			<![CDATA[`rentPrice` < #{rent}]]>
 	</select>
 	
 	
  	<select id="selectEstateListByAreaAndPrice"
 	parameterType="int"
 	resultType="com.hyungeerhee.spring.test.mybatis.domain.Estate">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		From 
 			`real_estate`
 		WHERE 	
 			<![CDATA[`type` = '매매' 
 			AND `area` >= #{area} 
 			AND `price` <= #{price}]]>
 	</select>
 	
 	<insert id= "insertEstateByObject"
 	parameterType="com.hyungeerhee.spring.test.mybatis.domain.Estate">
 	<!-- 파라미터 타입은 클래스 객체 자체 -->
  	<!-- return type은 int이므로 생략 가능 -->
 		INSERT INTO 
 				`real_estate`
 			( 
 				`realtorId`
 				, `address`
 				, `area`
 				, `type`
 				, `price`
 				, `rentPrice`
 			)
 			VALUE
 			(
 				#{realtorId}
 				, #{address}
 				, #{area}
 				, #{type}
 				, #{price}
 				, #{rentPrice}
 			)
 			
 			
 			
 			
 			
 			
 			
 			
 			
 	</insert>
 	
 	
 	<insert id = "insertEstate" parameterType="map"> 
 	<!-- 메소드 타입이 여러개므로 map으로 처리 -->
 		INSERT INTO 
 				`real_estate`
 			( 
 				`realtorId`
 				, `address`
 				, `area`
 				, `type`
 				, `price`
 				, `rentPrice`
 			)
 			VALUE
 			(
 				#{realtorId}
 				, #{address}
 				, #{area}
 				, #{type}
 				, #{price}
 				, #{rentPrice}
 			) 		
 	
 	
 	</insert>
 	
 	<update id="updateEstate" parameterType="map">
	 	UPDATE 
	 		`real_estate`
		SET 
			`type` = '전세'
		    , `price` = 70000
		    , `updatedAt` = now() 
		WHERE 
			`id` = #{id};	
 		
 	</update>
 	
 	<delete id="deleteEstate" parameterType="int">
 		DELETE FROM 
			`real_estate`
		WHERE 
			`id` = #{id};
 	</delete>
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 	
 </mapper>