<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.hyungeerhee.spring.test.mybatis.repository.EstateRepository">
 	<select id="selectEstate"
 	resultType="com.hyungeerhee.spring.test.mybatis.domain.Estate"
 	parameterType="int">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		From 
 			`real_estate`
 		WHERE 	
 			`id` = #{id}
 		
 	</select>
 	

 	<select id="selectEstateListByRentPrice"
 	parameterType="int"
 	resultType="com.hyungeerhee.spring.test.mybatis.domain.Estate">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		From 
 			`real_estate`
 		WHERE 	
 			<![CDATA[`rentPrice` < #{rent}]]>
 	</select>
 	
 	
  	<select id="selectEstateListByAreaAndPrice"
 	parameterType="int"
 	resultType="com.hyungeerhee.spring.test.mybatis.domain.Estate">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		From 
 			`real_estate`
 		WHERE 	
 			<![CDATA[`type` = '매매' 
 			AND `area` >= #{area} 
 			AND `price` <= #{price}]]>
 	</select>
 	
 	
 	
 </mapper>